---
export const prerender = true;
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import glaceon from "../images/glaceon.png";
import twitterLikeBird from "../images/twitter_like_bird.png";
import soraAozora from "../images/sora_aozora.png";
import githubMark from "../images/github-mark.png";
import qiita from "../images/qiita.png";
---

<Layout title="自己紹介" description="管理人の自己紹介ページです！">
  <article class="flex flex-col justify-center text-center p-2">
    <h1 class="text-5xl p-10">自己紹介</h1>
    <span class="flex justify-center"
      ><Image src={glaceon} alt="ゆっきーのアイコン" width="150" height="150" class="align-center" fetchpriority="high" decoding="async" />
    </span>
    <h3 class="text-4xl p-5">ゆっきー</h3>
    <div>
      <p class="p-4">ポケモンと旅行、美味しい料理が好きなエンジニアです。</p>
    </div>
    <hr class="border-orange-500" />
    <div class="p-2 my-2">
      <h2 class="text-3xl p-3">Contact</h2>
      <ul class="flex md:flex-row flex-col justify-center md:space-x-16 p-3">
        <li>
          <h3>Twitter</h3>
          <a href="https://twitter.com/Yu_yukk_Y">
            <Image src={twitterLikeBird}
            alt="twitterアカウント"
            width="100"
            height="90"
            class="m-auto py-8 hover:opacity-50" decoding="async" />
          </a>
        </li>
        <li>
          <h3>Bluesky</h3>
          <a href="https://bsky.app/profile/yuyukky.bsky.social">
            <Image src={soraAozora} alt="Blueskyアカウント"
            width="100"
            height="84"
            class="m-auto py-8 hover:opacity-50" decoding="async" />
          </a>
        </li>
        <li>
          <h3>Github</h3>
          <a href="https://github.com/Yoshino-Yukitaro" class="text-center">
            <Image src={githubMark} alt="githubアカウント"
            width="100"
            height="100"
            class="m-auto py-8 hover:opacity-50" decoding="async" />
          </a>
        </li>
        <li>
          <h3>Qiita</h3>
          <a href="https://qiita.com/Yu_yukk_Y">
            <Image src={qiita} alt="qiitaアカウント"
            width="100"
            height="100"
            class="m-auto py-8 hover:opacity-50" decoding="async" />
          </a>
        </li>
      </ul>
    </div>
  </article>
</Layout>
