---
export interface Props {
  title: string;
  description: string;
  createdAt: string;
  url: string;
}
const { title, description, createdAt, url } = Astro.props;
const dateTypeCreatedAt = new Date(createdAt);
---

<section class="my-5 py-5 w-full bg-amber-50 dark:bg-black shadow-xl px-8">
  <a href={url} class="w-full hover:opacity-50">
    <div class="flex flex-row justify-between py-5">
      <h1 class="text-3xl font-bold dark:text-white">{title}</h1>
      <p class="pb-5 dark:text-white">
        {
          `${dateTypeCreatedAt.getFullYear()}年${
            dateTypeCreatedAt.getMonth() + 1
          }月${dateTypeCreatedAt.getDate()}日`
        }
      </p>
    </div>
    <p class="dark:text-white">{description}</p>
  </a>
</section>
