---
export interface Props {
  title: string;
  description: string;
  createdAt: string;
  url: string;
}
const { title, description, createdAt, url } = Astro.props;
const dateTypeCreatedAt = new Date(createdAt);
---

<section class="my-5 py-2 w-full bg-amber-50 dark:bg-gray-500 shadow-xl px-8 md:h-60 rounded-lg">
  <a href={url} class="w-full hover:opacity-50" data-astro-prefetch>
    <div class="flex flex-row justify-between pb-2 md:pb-5">
      <div class="flex flex-col">
        <p class="pb-2 md:pb-5 dark:text-white text-sm md:text-base">
          {
            `${dateTypeCreatedAt.getFullYear()}年${
              dateTypeCreatedAt.getMonth() + 1
            }月${dateTypeCreatedAt.getDate()}日`
          }
        </p>
        <h1 class="md:text-3xl  font-bold dark:text-white line-clamp-2">{title}</h1>
      </div>
    </div>
    <p class="dark:text-white line-clamp-2">{description}</p>
  </a>
</section>
