---
import PostCard from "../molecules/PostCard.astro";

interface Frontmatter {
  title: string;
  description: string;
  year: number;
  month: number;
  date: number;
}
const posts = await Astro.glob<Frontmatter>("../../pages/post/*.md");
---

<article class="w-full py-5">
  <h1 class="text-center text-4xl font-bold py-5">記事一覧</h1>
  {
    posts.map((post) => (
      <PostCard
        title={post.frontmatter.title}
        description={post.frontmatter.description}
        year={post.frontmatter.year}
        month={post.frontmatter.month}
        date={post.frontmatter.date}
        url={post.url!}
      />
    ))
  }
</article>
