---
import Footer from "../components/organisms/Footer.astro";
import Header from "../components/organisms/Header.astro";

export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title} | ゆっきーの砂場</title>
    <meta content={description} name="description" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="ブログ" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:site_name" content="ゆっきーの砂場" />
    <meta property="og:locale" content="ja_JP" />
    <meta property="twitter:site" content="@Yu_yukk_Y" />
    <meta name="robots" content="noindex,nofollow" />
  </head>
  <body class="bg-yellow-50">
    <Header />
    <main class="flex justify-center">
      <slot />
    </main>
    <Footer />
  </body>
</html>
